@model OutreachModule.Models.Patient

@{
    ViewBag.Title = "EditPatient";
}

<h2>EditPatient</h2>

@Html.Partial("~/Views/Shared/_Patient.cshtml")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var mes = "@ViewBag.Message";
        if (mes != '') {
            window.alert(mes);
        }
    </script>
    @Scripts.Render("~/Scripts/birthdatepickersetup.js")
}
