@model List<OutreachModule.Models.Examination>
@{
    ViewBag.Title = "ExaminationQueue";
}

<h2>Examination Queue</h2>
<ul>
    @foreach (var e in Model)
    {
        <li>@Html.ActionLink(e.Patient.mrn,"GoToExamination",new {examId = e.Id})</li>
    }
</ul>
