@model OutreachModule.Models.Camp

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/campdatepickerSetup.js")
    @Scripts.Render("~/Scripts/blockenterkey.js")
}
