@model List<OutreachModule.Models.AlignmentModel>
@section Style {
    <style>
    .table th, .table td {
        border-top: none;
    }
    </style>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Alignment</h3>
    </div>
    <div class="panel-body">
        @Html.EditorFor(m=>m)
    </div>
</div>
