@model OutreachModule.Models.OtherListModel
<button class="btn btn-xs specifyother add-other" type="button" value="+" id=@Html.Raw(Model.name)>
    <i class="glyphicon glyphicon-plus"></i>
</button>
<div class="other-list">
    @Html.Partial("AddOther",Model)
</div>