@model OutreachModule.Models.SpectaclesDispensedModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Spectacles Dispensed?</h3>
    </div>
    <div class="panel-body">
        <div class="form-group form-inline">
            <label class="radio-inline" id="spectacles-yes">
                @Html.RadioButtonFor(model => model.dispensed, "true") Yes
            </label>
            <label class="radio-inline" id="spectacles-no">
                @Html.RadioButtonFor(model => model.dispensed, "false") No
            </label>&nbsp;&nbsp;&nbsp;
            @Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control",placeholder="Comment"} })
        </div>
        <div class="form-group form-inline" id="spectacles-cost" style="display:none">
            <label class="control-label">Cost</label>
            @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control", placeholder = "Spectacle Cost (Rupees)" } })
        </div>
    </div>
</div>
