
@{
    ViewBag.Title = "Home";
}

<h2>Outreach Module</h2>
<p>Welcome to the Outreach Module. This is the home page where information about what to do can be displayed. Could also add a list of camps to choose from here or a 'Start' link.</p>

@using (Html.BeginForm("Go","Home", FormMethod.Get, new { @class = "form-inline"}))
{ 
    {
    if (((SelectList)ViewBag.CampList).Count() > 0) { 
    <div class="form-group">
        @Html.DropDownList("selectedId", ViewBag.CampList as SelectList, new { @class = "form-control form-inline" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Go"/><br />
    </div>
    }
    else
    {
        <p><i>No camps in database</i></p>
    }
    }
}
    <div>@Html.ActionLink("Add New Camp", "Create", "Camps")</div>